@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/checkbox';
@import 'components/left-nav';
@import 'components/table';
@import 'components/toggle';

@import 'layout/wrapper';
@import 'layout/common';

@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/customer';
