$color-primary-blue: #097ff5;
$color-primary-blue-dark: #1661be;
$color-primary-blue-light: #dcf4ff;

$color-green-light: #dcfffe;

$color-violet-light: #dce3ff;

$color-grey-light: #f7f7f7;
$color-grey: #f1f2f6;
$color-grey-dark: #7d7d7d;

$color-white: #fff;
