.common {
	padding: 3rem;
	height: 100vh;
	background-color: $color-white;
	border-radius: 50px 0 0 50px;
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	-ms-border-radius: 50px 0 0 50px;
	-o-border-radius: 50px 0 0 50px;

	&__logout {
		position: absolute;
		top: 2rem;
		right: 2rem;
		display: flex;
		align-items: center;
		cursor: pointer;

		& img {
			width: 25px;
			margin-left: 0.5rem;
		}

		& p {
			color: $color-grey-dark;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;

		&__text {
			margin-right: 5rem;

			& h2 {
				font-size: 1.5rem;
				margin-bottom: 0.25rem;
			}

			& p {
				font-size: 0.8rem;
				color: $color-grey-dark;
			}
		}

		&__search {
			padding: 0.5rem;
			border-bottom: 3px solid $color-grey;

			& img {
				width: 20px;
				margin-right: 1.5rem;
			}

			& input {
				border: none;
				outline: none;
				width: 400px;
			}
		}
	}
}
