.dashboard {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__top {
		flex: 1;
		display: flex;

		@include respond(sm) {
			flex-direction: column;
		}

		&__sales {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__header {
				&__text {
					& h1 {
						font-size: 1.2rem;
					}

					& div {
						display: flex;

						& p {
							font-size: 0.8rem;
						}

						& a {
							font-size: 0.8rem;
							margin-left: 0.5rem;
						}
					}
				}

				@include respond(sm) {
					margin-bottom: 1rem;
				}
			}

			&__chart {
				& img {
					width: 28rem;

					@include respond(sm) {
						width: 100%;
					}
				}

				@include respond(sm) {
					margin-bottom: 2rem;
				}
			}
		}

		&__total {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			&__header {
				& h1 {
					font-size: 1.2rem;
				}

				@include respond(sm) {
					margin-bottom: 1rem;
				}
			}

			&__chart {
				display: flex;
				justify-content: center;

				@include respond(sm) {
					margin-bottom: 2rem;
				}

				& img {
					width: 200px;
				}
			}
		}
	}

	&__bottom {
		flex: 1;
		margin-top: 1.5rem;

		&__header {
			& h1 {
				font-size: 1.2rem;
			}
		}

		&__table {
			@include respond(sm) {
				width: 100%;
				overflow-x: scroll;
				margin-bottom: 2rem;
				&::-webkit-scrollbar {
					display: none;
				}
			}

			@include respond(md) {
				margin-bottom: 2rem;
			}
		}
	}
}
