.login {
	display: flex;
	min-height: 100vh;

	@include respond(md) {
		flex-direction: column;
	}

	&__left {
		width: 40vw;
		background-color: $color-primary-blue;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(md) {
			width: 100vw;
		}

		& > h1 {
			color: $color-white;
			text-align: center;
			font-size: 3rem;
		}
	}

	&__right {
		width: 60vw;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(md) {
			width: 100vw;
			height: 80vh;
		}

		&__box {
			&__img {
				text-align: center;

				& img {
					width: 125px;
				}
			}

			&__header {
				text-align: center;
				margin: 1rem 0;

				& h1 {
					font-size: 1.75rem;
					color: $color-primary-blue;
				}
			}

			&__inputs {
				display: flex;
				flex-direction: column;

				& input {
					margin: 1rem 0;
					width: 20rem;
					background-color: $color-primary-grey;
					border: none;
					border-left: 5px solid $color-primary-blue;
					outline: none;
					padding: 0.5rem;
				}
			}

			&__signed-in {
				margin: 0.5rem 0 1rem;
			}

			&__button {
				margin: 2rem 0 1rem;

				& a {
					width: 100%;
					display: block;
					text-align: center;
					color: $color-white;
					background-color: $color-primary-blue-dark;
					padding: 0.5rem 0;
					border-radius: 50px;
					-webkit-border-radius: 50px;
					-moz-border-radius: 50px;
					-ms-border-radius: 50px;
					-o-border-radius: 50px;
					&:hover {
						text-decoration: none;
						background-color: $color-primary-blue;
					}
				}
			}
		}
	}
}
