.left-nav {
	padding: 3rem 0 2rem;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $color-grey;
	transition: all 0.05s;
	-webkit-transition: all 0.05s;
	-moz-transition: all 0.05s;
	-ms-transition: all 0.05s;
	-o-transition: all 0.05s;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	@include respond(lg) {
		visibility: hidden;
		padding: 1.5rem 0;
	}

	&__user {
		display: flex;
		align-items: center;

		@include respond(lg) {
			margin-bottom: 1rem;
		}

		&__image img {
			width: 65px;
			margin-right: 1rem;
		}

		&__text {
			&__greeting {
				color: $color-grey-dark;
				margin: 0;
			}

			&__name {
				color: $color-primary-blue-dark;
				font-weight: 600;
				font-size: 1.2rem;
			}
		}
	}

	&__earning {
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(lg) {
			margin-bottom: 1rem;
		}

		&__title {
			color: $color-grey-dark;
		}

		&__amount {
			font-size: 1.5rem;
			font-weight: 600;
			color: $color-primary-blue-dark;
		}
	}

	&__divider {
		width: 80%;
		margin: 0 auto;
		border-bottom: 1px solid $color-grey-dark;
	}

	&__links {
		width: 100%;
		padding-left: 2.5rem;

		@include respond(lg) {
			padding-left: 1rem;
			margin-top: 1rem;
		}

		&__item {
			display: flex;
			align-items: center;
			padding: 1rem;
			cursor: pointer;

			& img {
				width: 30px;
				margin-right: 2rem;
			}

			& p {
				color: $color-grey-dark;
			}

			&.active {
				border-right: 4px solid $color-primary-blue-dark;
			}

			&.active p {
				color: $color-primary-blue-dark;
				font-weight: 500;
			}
		}
	}

	& a {
		text-decoration: none;
	}

	&__logo {
		& img {
			width: 200px;
		}
	}
}
