.wrapper {
	// height: 100%;
	background-color: $color-grey;
	display: flex;

	@include respond(lg) {
		background-color: #fff;
	}

	&__left {
		width: 300px;
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;

		@include respond(lg) {
			width: 0;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 2;
			height: 100%;
			background-color: $color-grey;
		}
	}

	&__right {
		width: calc(100vw - 300px);

		@include respond(lg) {
			width: 100%;
		}
	}
}
