@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Rubik', sans-serif; }

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 1rem; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 40%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-100%, -50%);
  -webkit-transform: rotate(45deg) translate(-100%, -50%);
  -moz-transform: rotate(45deg) translate(-100%, -50%);
  -ms-transform: rotate(45deg) translate(-100%, -50%);
  -o-transform: rotate(45deg) translate(-100%, -50%); }

.left-nav {
  padding: 3rem 0 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .left-nav__user {
    display: flex;
    align-items: center; }
    .left-nav__user__image img {
      width: 65px;
      margin-right: 1rem; }
    .left-nav__user__text__greeting {
      color: #7d7d7d;
      margin: 0; }
    .left-nav__user__text__name {
      color: #1661be;
      font-weight: 600;
      font-size: 1.2rem; }
  .left-nav__earning {
    display: flex;
    justify-content: center;
    align-items: center; }
    .left-nav__earning__title {
      color: #7d7d7d; }
    .left-nav__earning__amount {
      font-size: 1.5rem;
      font-weight: 600;
      color: #1661be; }
  .left-nav__divider {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #7d7d7d; }
  .left-nav__links {
    width: 100%;
    padding-left: 2.5rem; }
    .left-nav__links__item {
      display: flex;
      align-items: center;
      padding: 1rem;
      cursor: pointer; }
      .left-nav__links__item img {
        width: 30px;
        margin-right: 2rem; }
      .left-nav__links__item p {
        color: #7d7d7d; }
      .left-nav__links__item.active {
        border-right: 4px solid #1661be; }
      .left-nav__links__item.active p {
        color: #1661be;
        font-weight: 500; }
  .left-nav a {
    text-decoration: none; }

.wrapper {
  height: 100vh;
  background-color: #f1f2f6;
  display: flex; }
  .wrapper__left {
    width: 300px; }
  .wrapper__right {
    height: 100vh;
    width: calc(100vw - 300px); }

.login {
  display: flex;
  min-height: 100vh; }
  @media only screen and (max-width: 62em) {
    .login {
      flex-direction: column; } }
  .login__left {
    width: 40vw;
    background-color: #097ff5;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .login__left {
        width: 100vw; } }
    .login__left > h1 {
      color: #fff;
      text-align: center;
      font-size: 3rem; }
  .login__right {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .login__right {
        width: 100vw;
        height: 80vh; } }
    .login__right__box__img {
      text-align: center; }
      .login__right__box__img img {
        width: 125px; }
    .login__right__box__header {
      text-align: center;
      margin: 1rem 0; }
      .login__right__box__header h1 {
        font-size: 1.75rem;
        color: #097ff5; }
    .login__right__box__inputs {
      display: flex;
      flex-direction: column; }
      .login__right__box__inputs input {
        margin: 1rem 0;
        width: 20rem;
        background-color: #f7f7f7;
        border: none;
        border-left: 5px solid #097ff5;
        outline: none;
        padding: 0.5rem; }
    .login__right__box__signed-in {
      margin: 0.5rem 0 1rem; }
      .login__right__box__signed-in label {
        color: #7d7d7d; }
    .login__right__box__button {
      margin: 2rem 0 1rem; }
      .login__right__box__button a {
        width: 100%;
        display: block;
        text-align: center;
        color: #fff;
        background-color: #1661be;
        padding: 0.5rem 0;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px; }
        .login__right__box__button a:hover {
          text-decoration: none;
          background-color: #097ff5; }

.dashboard {
  padding: 3rem;
  height: 100vh;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px; }
  .dashboard__logout {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .dashboard__logout img {
      width: 25px;
      margin-left: 0.5rem; }
    .dashboard__logout p {
      color: #7d7d7d; }
  .dashboard__header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; }
    .dashboard__header__text {
      margin-right: 5rem; }
      .dashboard__header__text h2 {
        font-size: 1.5rem;
        margin-bottom: 0.25rem; }
      .dashboard__header__text p {
        font-size: 0.8rem;
        color: #7d7d7d; }
    .dashboard__header__search {
      padding: 0.5rem;
      border-bottom: 3px solid #f1f2f6; }
      .dashboard__header__search img {
        width: 20px;
        margin-right: 1.5rem; }
      .dashboard__header__search input {
        border: none;
        outline: none;
        width: 400px; }
