@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Rubik', sans-serif; }

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 1rem; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 40%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-100%, -50%);
  -webkit-transform: rotate(45deg) translate(-100%, -50%);
  -moz-transform: rotate(45deg) translate(-100%, -50%);
  -ms-transform: rotate(45deg) translate(-100%, -50%);
  -o-transform: rotate(45deg) translate(-100%, -50%); }

.left-nav {
  padding: 3rem 0 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2f6;
  transition: all 0.05s;
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  -ms-transition: all 0.05s;
  -o-transition: all 0.05s;
  overflow: auto; }
  .left-nav::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 75em) {
    .left-nav {
      visibility: hidden;
      padding: 1.5rem 0; } }
  .left-nav__user {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .left-nav__user {
        margin-bottom: 1rem; } }
    .left-nav__user__image img {
      width: 65px;
      margin-right: 1rem; }
    .left-nav__user__text__greeting {
      color: #7d7d7d;
      margin: 0; }
    .left-nav__user__text__name {
      color: #1661be;
      font-weight: 600;
      font-size: 1.2rem; }
  .left-nav__earning {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .left-nav__earning {
        margin-bottom: 1rem; } }
    .left-nav__earning__title {
      color: #7d7d7d; }
    .left-nav__earning__amount {
      font-size: 1.5rem;
      font-weight: 600;
      color: #1661be; }
  .left-nav__divider {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #7d7d7d; }
  .left-nav__links {
    width: 100%;
    padding-left: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .left-nav__links {
        padding-left: 1rem;
        margin-top: 1rem; } }
    .left-nav__links__item {
      display: flex;
      align-items: center;
      padding: 1rem;
      cursor: pointer; }
      .left-nav__links__item img {
        width: 30px;
        margin-right: 2rem; }
      .left-nav__links__item p {
        color: #7d7d7d; }
      .left-nav__links__item.active {
        border-right: 4px solid #1661be; }
      .left-nav__links__item.active p {
        color: #1661be;
        font-weight: 500; }
  .left-nav a {
    text-decoration: none; }
  .left-nav__logo img {
    width: 200px; }

.data-table {
  width: 95%; }
  @media only screen and (max-width: 48em) {
    .data-table {
      width: 700px; } }
  .data-table tr {
    border-bottom: 1px solid #f1f2f6; }
  .data-table thead {
    color: #7d7d7d; }
    .data-table thead th {
      padding-bottom: 0.75rem;
      font-weight: 500; }
  .data-table tbody {
    font-size: 0.8rem;
    color: #7d7d7d; }
    .data-table tbody td {
      padding: 0.75rem 0; }
  .data-table__devices {
    display: flex;
    overflow-x: auto; }
    .data-table__devices__item {
      display: inline;
      margin-right: 0.4rem;
      font-size: 0.6rem;
      padding: 0.2rem 0.4rem;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px; }
      .data-table__devices__item:nth-child(odd) {
        background-color: #b6ffdb; }
      .data-table__devices__item:nth-child(even) {
        background-color: #ffc5bb; }

.toggle {
  display: flex;
  justify-content: center;
  align-items: center; }

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #0bba69; }

input:focus + .slider {
  box-shadow: 0 0 1px #0bba69; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.wrapper {
  height: 100%;
  background-color: #f1f2f6;
  display: flex; }
  @media only screen and (max-width: 75em) {
    .wrapper {
      background-color: #fff; } }
  .wrapper__left {
    width: 300px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s; }
    @media only screen and (max-width: 75em) {
      .wrapper__left {
        width: 0;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        background-color: #f1f2f6; } }
  .wrapper__right {
    width: calc(100vw - 300px); }
    @media only screen and (max-width: 75em) {
      .wrapper__right {
        width: 100%; } }

.common {
  padding: 3rem;
  height: 100vh;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  position: relative; }
  @media only screen and (max-width: 62em) {
    .common {
      height: 100%;
      padding: 3rem;
      width: 100%;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; } }
  .common__hamburger {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 3rem;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    display: none;
    padding: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px; }
    @media only screen and (max-width: 75em) {
      .common__hamburger {
        display: initial; } }
    .common__hamburger img {
      cursor: pointer;
      width: 20px; }
  .common__logout {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .common__logout img {
      width: 25px;
      margin-left: 0.5rem; }
    .common__logout p {
      color: #7d7d7d; }
  .common__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .common__header {
        margin-top: 2rem; } }
    @media only screen and (max-width: 62em) {
      .common__header {
        flex-direction: column;
        align-items: flex-start; } }
    .common__header__text {
      margin-right: 5rem; }
      .common__header__text h2 {
        font-size: 1.5rem;
        margin-bottom: 0.25rem; }
      .common__header__text p {
        font-size: 0.8rem;
        color: #7d7d7d; }
    .common__header__search {
      padding: 0.5rem;
      border-bottom: 3px solid #f1f2f6;
      display: flex; }
      @media only screen and (max-width: 62em) {
        .common__header__search {
          width: 100%;
          margin-top: 1.5rem; } }
      .common__header__search img {
        width: 20px;
        margin-right: 1.5rem; }
      .common__header__search input {
        border: none;
        outline: none;
        width: 400px; }
  .common__content {
    display: flex; }
    @media only screen and (max-width: 62em) {
      .common__content {
        flex-direction: column; } }
    .common__content__main {
      flex: 5;
      border-right: 3px solid #f1f2f6; }
      @media only screen and (max-width: 62em) {
        .common__content__main {
          flex: auto;
          border: none; } }
    .common__content__right {
      flex: 2;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 12rem); }
      .common__content__right::-webkit-scrollbar {
        display: none; }
      @media only screen and (max-width: 62em) {
        .common__content__right {
          flex: auto;
          padding: 0; } }
      .common__content__right__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem; }
        .common__content__right__header p {
          font-size: 1.5rem;
          font-weight: 500; }
        .common__content__right__header__select {
          width: 150px; }
      .common__content__right__data {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .common__content__right__data__item {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          padding: 0.5rem 2rem;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          max-width: 400px;
          width: 100%; }
          .common__content__right__data__item--green {
            background-color: #dcfffe; }
          .common__content__right__data__item--blue {
            background-color: #dcf4ff; }
          .common__content__right__data__item--violet {
            background-color: #dce3ff; }
          .common__content__right__data__item__image {
            padding: 0.5rem;
            background-color: #fff;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            margin-right: 1rem; }
          .common__content__right__data__item p {
            font-size: 0.8rem;
            color: #7d7d7d; }
          .common__content__right__data__item h1 {
            font-size: 1.75rem; }
            .common__content__right__data__item h1 span {
              color: #097ff5;
              font-size: 1rem; }
              .common__content__right__data__item h1 span.down {
                color: red; }
      .common__content__right__map h1 {
        font-size: 1.5rem;
        font-weight: 500; }
      .common__content__right__map__image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .common__content__right__map__image img {
          width: 80%; }
      .common__content__right__map p {
        margin: 1rem 0;
        font-size: 0.8rem;
        color: #7d7d7d; }

.login {
  display: flex;
  min-height: 100vh; }
  @media only screen and (max-width: 62em) {
    .login {
      flex-direction: column; } }
  .login__left {
    width: 40vw;
    background-color: #097ff5;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .login__left {
        width: 100vw; } }
    .login__left > h1 {
      color: #fff;
      text-align: center;
      font-size: 3rem; }
  .login__right {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .login__right {
        width: 100vw;
        height: 80vh; } }
    .login__right__box__img {
      text-align: center; }
      .login__right__box__img img {
        width: 125px; }
    .login__right__box__header {
      text-align: center;
      margin: 1rem 0; }
      .login__right__box__header h1 {
        font-size: 1.75rem;
        color: #097ff5; }
    .login__right__box__inputs {
      display: flex;
      flex-direction: column; }
      .login__right__box__inputs input {
        margin: 1rem 0;
        width: 20rem;
        background-color: #f7f7f7;
        border: none;
        border-left: 5px solid #097ff5;
        outline: none;
        padding: 0.5rem; }
    .login__right__box__signed-in {
      margin: 0.5rem 0 1rem; }
      .login__right__box__signed-in label {
        color: #7d7d7d; }
    .login__right__box__button {
      margin: 2rem 0 1rem; }
      .login__right__box__button a {
        width: 100%;
        display: block;
        text-align: center;
        color: #fff;
        background-color: #1661be;
        padding: 0.5rem 0;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px; }
        .login__right__box__button a:hover {
          text-decoration: none;
          background-color: #097ff5; }

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .dashboard__top {
    flex: 1;
    display: flex; }
    @media only screen and (max-width: 48em) {
      .dashboard__top {
        flex-direction: column; } }
    .dashboard__top__sales {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .dashboard__top__sales__header__text h1 {
        font-size: 1.2rem; }
      .dashboard__top__sales__header__text div {
        display: flex; }
        .dashboard__top__sales__header__text div p {
          font-size: 0.8rem; }
        .dashboard__top__sales__header__text div a {
          font-size: 0.8rem;
          margin-left: 0.5rem; }
      @media only screen and (max-width: 48em) {
        .dashboard__top__sales__header {
          margin-bottom: 1rem; } }
      .dashboard__top__sales__chart img {
        width: 28rem; }
        @media only screen and (max-width: 48em) {
          .dashboard__top__sales__chart img {
            width: 100%; } }
      @media only screen and (max-width: 48em) {
        .dashboard__top__sales__chart {
          margin-bottom: 2rem; } }
    .dashboard__top__total {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%; }
      .dashboard__top__total__header h1 {
        font-size: 1.2rem; }
      @media only screen and (max-width: 48em) {
        .dashboard__top__total__header {
          margin-bottom: 1rem; } }
      .dashboard__top__total__chart {
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 48em) {
          .dashboard__top__total__chart {
            margin-bottom: 2rem; } }
        .dashboard__top__total__chart img {
          width: 200px; }
  .dashboard__bottom {
    flex: 1;
    margin-top: 1.5rem; }
    .dashboard__bottom__header h1 {
      font-size: 1.2rem; }
    @media only screen and (max-width: 48em) {
      .dashboard__bottom__table {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 2rem; }
        .dashboard__bottom__table::-webkit-scrollbar {
          display: none; } }
    @media only screen and (max-width: 62em) {
      .dashboard__bottom__table {
        margin-bottom: 2rem; } }

.customer {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .customer__top {
    flex: 1;
    display: flex; }
    @media only screen and (max-width: 48em) {
      .customer__top {
        flex-direction: column; } }
    .customer__top__sales {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .customer__top__sales__header__text h1 {
        font-size: 1.2rem; }
      .customer__top__sales__header__text div {
        display: flex; }
        .customer__top__sales__header__text div p {
          font-size: 0.8rem; }
        .customer__top__sales__header__text div a {
          font-size: 0.8rem;
          margin-left: 0.5rem; }
      @media only screen and (max-width: 48em) {
        .customer__top__sales__header {
          margin-bottom: 1rem; } }
      .customer__top__sales__chart img {
        width: 28rem; }
        @media only screen and (max-width: 48em) {
          .customer__top__sales__chart img {
            width: 100%; } }
      @media only screen and (max-width: 48em) {
        .customer__top__sales__chart {
          margin-bottom: 2rem; } }
    .customer__top__total {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%; }
      .customer__top__total__header h1 {
        font-size: 1.2rem; }
      @media only screen and (max-width: 48em) {
        .customer__top__total__header {
          margin-bottom: 1rem; } }
      .customer__top__total__chart {
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 48em) {
          .customer__top__total__chart {
            margin-bottom: 2rem; } }
        .customer__top__total__chart img {
          width: 200px; }
  .customer__bottom {
    flex: 1;
    margin-top: 1.5rem; }
    .customer__bottom__header h1 {
      font-size: 1.2rem; }
    @media only screen and (max-width: 48em) {
      .customer__bottom__table {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 2rem; }
        .customer__bottom__table::-webkit-scrollbar {
          display: none; } }
    @media only screen and (max-width: 62em) {
      .customer__bottom__table {
        margin-bottom: 2rem; } }
